 


        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="mb-4">We are a community  whose aim is to see positive change in the society</h1>
                        <p>We hope to bring together writers, poets and creative content developers.</p>
                        <p class="mb-4">Maiduguri Book Club is formed to revive the dying reading culture in the society.
			            	We believe that the development of every society depends on the intellectual ability of its 
			            	people, and books are the media of intellectual development.</p>
                            <h2>Be Part of Our Community</h2>
                       
                    </div>
                    <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img class="img-fluid w-75  bg-light p-2" src="img/k.jpg" alt="">
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Call To Action Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="bg-light rounded">
                    <div class="row g-0">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="img/gdss.jpg" style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="h-100 d-flex flex-column justify-content-center p-5">
                                <h1 class="mb-4">Become A Mentor</h1>
                                <p class="mb-4">Are you passionate about influencing the younger generation? <br>
                                Here is an opportunity to volunteer your time and contribute to the development of
                                the society by reading a book to a group of young people and mentor them on coding.
                                </p>
                                <a href="/mentor" class="btn btn-primary py-3 px-5" href="">Get Started Now<i class="fa fa-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call To Action End -->


       


      