<div class="bg-light rounded">
    <div class="row g-0">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
            <div class="h-100 d-flex flex-column justify-content-center p-5">
                <p class="mb-4"></a>.</p>
                <form class="row g-3 needs-validation" method="post" action="/adduser">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input required type="text" class="form-control border-0" id="name"
                                    placeholder="FirstName" name="firstName">
                                <label for="name">First Name</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input required type="text" class="form-control border-0" id="name"
                                    placeholder="lastName" name="lastName">
                                <label for="name">Last Name</label>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input required type="email" class="form-control border-0" id="email"
                                    placeholder="Your Email" name="email">
                                <label for="email">Your Email</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input required type="phone" class="form-control border-0" id="phone"
                                    placeholder="Phone number" name="phone">
                                <label for="name">Phone Number</label>
                            </div>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>