  <!-- Appointment Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="bg-light rounded">
                    <div class="row g-0">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="h-100 d-flex flex-column justify-content-center p-5">
                                <h1 class="mb-4">Book of the week</h1>
                                <p>CHIKE AND THE RIVER </p>

<p>Author: Chinua Achebe</p>

<p>Year of publication: 1966</p>

<p>Number of pages: 64</p>

<p>ABOUT CHIKE AND THE RIVER
The more Chike saw the ferry-boats the more he wanted to make the trip to
 Asaba. But where would he get the money? He did not know. Still, he hoped.
Eleven-year-old Chike longs to cross the Niger River to the city 
of Asaba, but he doesn’t have the sixpence he needs to pay for the ferry ride.
 With the help of his friend S.M.O.G., he embarks on a series of adventures
  to help him get there. Along the way, he is exposed to a range of new experiences 
  that are both thrilling and terrifying, from eating his first skewer 
  of suya under the shade of a mango tree, to visiting the village 
  magician who promises to double the money in his pocket. 
  Once he finally makes it across the river,
   Chike realizes that life on the other side
    is far different from his expectations, 
    and he must find the courage within him to make it home. Chike and the River is a magical tale of boundaries,
     bravery, and growth, by Chinua Achebe, one of the world’s most beloved and admired storytellers.
 </p>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="img/chike.jpg" style="object-fit: cover;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Appointment End -->