<!-- Carousel Start -->
        <div class="container-fluid p-0 mb-5">
            <div class="owl-carousel header-carousel position-relative">
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="img/yer.jpg" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-2 text-white animated slideInDown mb-4"></h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2"></p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="img/w.jpg" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-2 text-white animated slideInDown mb-4"></h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2"></p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="img/lpp.jpg" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                        style="background: rgba(0, 0, 0, .2);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-2 text-white animated slideInDown mb-4">
                                    </h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2"></p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="img/bok.jpg" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                        style="background: rgba(0, 0, 0, .2);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-2 text-white animated slideInDown mb-4">
                                    </h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2"></p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="img/ye.jpg" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                        style="background: rgba(0, 0, 0, .2);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-2 text-white animated slideInDown mb-4">
                                    </h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2"></p>
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="img/dg.jpg" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                        style="background: rgba(0, 0, 0, .2);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-2 text-white animated slideInDown mb-4">
                                    </h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2"></p>
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <!-- Carousel End -->


        <!-- Facilities Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">OUR VISION</h1>
                    <p>Read, Connect and Create</p>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="facility-item">
                            <div class="facility-icon bg-primary">
                                <span class="bg-primary"></span>
                                
                                <span class="bg-primary"></span>
                            </div>
                            <div class="facility-text bg-primary">
                                <h3 class="text-primary mb-3"></h3>
                                <p class="mb-0">Maiduguri Book Club is formed to awaken reading culture in
                                the state.
                                <br> Its main goal is to spark up the curiosity in learners that will lead to ingenuity.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="facility-item">
                            <div class="facility-icon bg-success">
                                <span class="bg-success"></span>
                                
                                <span class="bg-success"></span>
                            </div>
                            <div class="facility-text bg-success">
                                <h3 class="text-success mb-3">MISSION</h3>
                                <p class="mb-0">The mission of the book club is to ignite the creativity in
                                     book lovers and
                                to create an avenue for writers
                                 and the general public to connect and read.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="facility-item">
                            <div class="facility-icon bg-warning">
                                
                                <span class="bg-warning"></span>
                            </div>
                            <div class="facility-text bg-warning">
                                <h3 class="text-warning mb-3">MISSION</h3>
                                <p class="mb-0">To discover indigenous writers and promote their works.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="facility-item">
                            <div class="facility-icon bg-info">
                                <span class="bg-info"></span>
                                
                                <span class="bg-info"></span>
                            </div>
                            <div class="facility-text bg-info">
                                <h3 class="text-info mb-3">MISSION</h3>
                                <p class="mb-0">To organise competitions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Facilities End -->


        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="mb-4">Learn About Our Work</h1>
                        <p>We are a people passionate about a better society. 
                            We believe that we can make a difference in the
                         lives of Nigerians through books.</p>
                        <p class="mb-4">We believe that no society can develop without books.</p>
                        <div class="row g-4 align-items-center">
                            
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <img class="" src="img/ceo.jpg" alt="" style="width: 150px; height: 100px;">
                                    <div class="ms-3">
                                        <h6 class="text-primary mb-2">MUSA YOHANNA SUNAMA</h6>
                                        <small> Founder</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-8 text-center">
                                <img class="img-fluid w-55 rounded-circle bg-light p-3" src="img/gg.jpg" alt="">
                            </div>
                            <div class="col-6 text-start" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-1" src="img/k.jpg" alt="">
                            </div>
                            <div class="col-6 text-end" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-1" src="img/ll.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Call To Action Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="bg-light rounded">
                    <div class="row g-0">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="img/gdss.jpg" style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="h-100 d-flex flex-column justify-content-center p-5">
                                <h1 class="mb-4">Become A Mentor</h1>
                                <p class="mb-4">Are you passionate about influencing the younger generation? <br>
                                Here is an opportunity to volunteer your time and contribute to the development of
                                the society by reading a book to a group of young people and mentor them on coding.
                                </p>
                                <a class="btn btn-primary py-3 px-5" href="/mentor">Get Started Now<i class="fa fa-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call To Action End -->


        <!-- Classes Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">MENTOR OF THE WEEK</h1>
                    <div class="col-8 text-center">
                        <img class="img-fluid w-55 rounded-circle bg-light p-3" src="img/Isa.jpg" alt="">
                    </div>
                    <h4>Professor Isa Marte Hussaini</h4>
                    <p>Professor Isa Marte Hussaini is a Nigerian scientist, pharmacist, medical researcher and professor of pharmacology,
                    pathology, neuroscience, and oncology. He is currently the Chief of Staff to the Borno State Governor. He is a distinguished Abusite widely known for his research efforts and findings
                    on the use of medicinal plants in the treatment of cancer.
                    
                    He is a fellow of the Nigerian Academy of Science, inducted into the academy in 2013. He specialized in cancer research
                    and is currently exploring the use of local herbs for cancer therapy. 
                    His report to the Nigerian Academy of Science on
                    the use of local herbs for cancer therapy suggested that herbal plants are more
                     efficacious than the current drugs used
                    in cancer treatments.</p>
                </div>
                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
        <!-- Classes End -->



        <!-- Testimonial Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">CLUB ACTIVITY</h1>
                    <p> Books will be distributed at the beginning of every month to club members
                         to read and the books will be
                         reviewed by a mentor every last Saturday of the month.
                    </p>
                     
                         <h3>ICT ACTIVITY</h3>
                        <p>Introduction to programming</p>
                        <p>Club members will be taught web development</p>
                        <p>Server language</p>
                        <p>Android development</p>
                        <h3>COMPETITIONS</h3>
                        <p>There will be a quarterly competition for participating schools in the following:</p>
                        <p>ESSAY WRITING</p>
                        <p>SPELLING BEE</p>
                        <p>CODING CHALLENGE</p>
                        <p style="text-transform: uppercase;">Android development Challenge</p>

                </div>
                    <a href="/adduser" type="button" class="btn btn-primary align-self-center" style="text-align:center"> CLICK HERE TO BECOME A MEMBER</a>
                </div>

                    
                </div>
            </div>
        </div>
        <!-- Testimonial End -->